/* this is for mobile device. */

@media screen and (max-width:425px) {


    nav {

        flex-direction: column;
        gap: 62px;

    }

    .nav-logo,
    .nav-manus {
        width: 100%;
        justify-content: center;


    }

    .nav-manus {
        flex-direction: column;
    }

    .nav-manus a,
    .nav-span p {

        font-size: 13px;

    }

    .nav-span {


        padding: 9px 3px;

    }

    /* banner section */

    .banner {
        width: 80%;
        margin: auto;
        flex-direction: column-reverse;
    }

    .banner-img{
        width: 100%;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-ticon{
        width: 100%;
        padding: 56px;
    }
    .banner-title{
        
    }

    .banner-title>h1 {
        font-size: 58px;
    
    }
    .banner-title>h2 {
        font-size: 31px;
       
    }
    .banner-title>h4 p {
        font-size: 12px;
        margin: 0;
     
    }
    .default-btn-pink,.default-btn-blue{
     font-size: 12px;
     padding: 16px 24px;
 }

 /* indentity section. */

 .identity-container{

    width: 85%;
    margin: auto;
    flex-direction: column-reverse;
  }

  .identity{
    padding: 20px 0;
  }
  .id-title,.id-img{
    width: 100%;
  }

  .id-title{
    text-align: center;
  }

  .id-title h3 {
    font-size: 21px;

}

.id-title h4 {
    margin-top: 24px;
    font-size: 20px;

}

.id-title p {
    font-size: 12px;

}

.id-title h2 {
    font-size: 36px;

}

/* game video container */

.gv-container{
    width: 85%;
    margin: auto;
    flex-direction: column;
    gap: 40px;
   
 
  }

  .video-box{
    width: 80%;
    margin: auto;
    }

    .video-box> p {
        font-size: 15px;
        margin-top: 6px;
    }

    .game-video h1 {
        font-size: 24px;

    }

    .game-video>p {
 
        font-size: 9px;


    }

}








/* for tab */

@media screen and (max-width:768px) {

   
    .nav-logo h1 {
        font-size: 36px;

    }

    .nav-logo img {
        height: 28px;
    }

    .nav-span {

        padding: 8px 15px;

    }

    .nav-manus a {
      
        font-size: 12px;
       
    }

    .nav-span p {
        font-size: 13px;

    }

    /* banner section */

    .banner-img img{
        width: 92%;
      }

      .banner-title>h4 p {
        margin-left: 2px;
        font-size: 14px;
     
    }

    .banner-title>h1 {
        font-size: 78px;
    }

    .banner-title>h2 {
        font-size: 36px;
       
    }

    .default-btn-pink,.default-btn-blue{
        font-size: 12px;
        padding: 16px 24px;
    }


/* identity section */

.id-title h2 {
    font-size: 30px;
    margin-bottom: 6px;
}
.id-title {

    padding-right: 31px;
}
.id-title p {
    font-size: 8px;
    line-height: 13px;
    margin-bottom: 14px;
}

.id-title h4 {
    margin-top: 12px;
    font-size: 14px;

}

.id-title h3 {
    font-size: 15px;
    line-height: 23px;

}

.gv-container{
    width: 85%;
    margin: auto;

  }

}