/* this is for mobile device. */

@media screen and (max-width:425px) {


    nav {

        flex-direction: column;
        gap: 62px;

    }

    .nav-logo,
    .nav-manus {
        width: 100%;
        justify-content: center;


    }

    .nav-manus {
        flex-direction: column;
    }

    .nav-manus a,
    .nav-span p {

        font-size: 13px;

    }

    .nav-span {


        padding: 9px 3px;

    }

    /* banner section */

    .banner {
        width: 80%;
        margin: auto;
        flex-direction: column-reverse;
    }

    .banner-img{
        width: 100%;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-ticon{
        width: 100%;
        padding: 56px;
    }
    .banner-title{
        
    }

    .banner-title>h1 {
        font-size: 58px;
    
    }
    .banner-title>h2 {
        font-size: 31px;
       
    }
    .banner-title>h4 p {
        font-size: 12px;
        margin: 0;
     
    }

}








/* for tab */

@media screen and (max-width:768px) {

   
    .nav-logo h1 {
        font-size: 36px;

    }

    .nav-logo img {
        height: 28px;
    }

    .nav-span {

        padding: 8px 15px;

    }

    .nav-manus a {
      
        font-size: 12px;
       
    }

    .nav-span p {
        font-size: 13px;

    }

}